:root {
	--swiper-pagination-color: #fff;
}

.content-container {
	width: 100%;
	max-width: 100%;
	max-width: clamp(80%, 20em);
	padding-top: 90px;
	margin: 0 auto;
}

.content-seperator {
	width: 100vw;
	height: 100vh;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: stretch; */
}

.introduction {
	background-color: #192841;
	height: 100vh;
	color: #fff;
}

.intro-text {
	border: 3px solid white;
	display: inline-block;
}

.intro-text h1 {
	color: #fdd771;
}

.slide-overlay-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
	padding: 20px;
	box-sizing: border-box;
	/* font-size: 13px; */
}

@media screen and (width: 320px) {
	.content-container {
		width: 100%;
		max-width: 620px;
		margin: 0 auto;
		padding-top: 100px;
	}

	.gallery {
		width: 100%;
		height: auto;
		margin-bottom: 0.5rem;
	}

	.gallery swiper-slide {
		width: auto;
	}

	.gallery swiper-slide img {
		display: block;
		width: auto;
		height: 100%;
		margin: 0 auto;
	}

	.overlay-container {
		position: relative;
	}

	.overlay-container img {
		display: block;
		width: auto;
		height: 100%;
		margin: 0 auto;
	}

	.slider-thumbnail {
		width: 100%;
		padding: 0;
		overflow: hidden;
	}

	.slider-thumbnail .swiper-slide {
		width: 100px;
		height: 100px;
		text-align: center;
		overflow: hidden;
		opacity: 0.1;
	}

	.slider-thumbnail .swiper-slide-active {
		opacity: 1;
	}

	.slider-thumbnail .swiper-slide img {
		width: auto;
		height: 100%;
	}

	.thumbnail {
		opacity: 0.5;
	}

	.swiper-slide-active {
		opacity: 1;
	}
}
